<div class="todo-container">
    <div class="todo-header">
        <h2>My Todo</h2>
        <button class="new-task">
            <span class="btn-symbol material-symbols-outlined">
                add_circle
            </span>
            <span class="btn-action">New task</span>
        </button>
    </div>
    <div class="todo-input">
        <div class="search-div">
            <input class="search" type="text">
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
        <div class="input-div">
            <div class="form-control">
                <label for="from">From</label>
                <input id="from" type="datetime-local">
            </div>
            <div class="form-control">
                <label for="to">To</label>
                <input id="to" type="datetime-local">
            </div>
        </div>
    </div>
</div>