@{
    ViewData["Title"] = "Home";
}
<div class="dashboard">
    <div class="header-section">
        <div class="greeting">
            <p class="hi">Hi Praise!<p>
            <p>Goodevening, and welcome</p>
        </div>
    </div>
    <div class="overview">
        <div style="background: #1666DA;" class="tile">
            <div class="icon">
                <span class="material-symbols-outlined">
                    folder_open
                </span>
            </div>
            <div class="card-items">
                <h4>Total Folders</h4>
                <p>300</p>
            </div>
        </div>
        <div class="tile">
            <div class="icon">
                <span class="material-symbols-outlined">
                    contacts
                </span>
            </div>
            <div class="card-items">
                <h4>Contacts</h4>
                <p>1200</p>
            </div>
        </div>
        <div style="background: #7D1BE6;" class="tile">
            <div class="icon">
                <span class="material-symbols-outlined">
                    checklist
                </span>
            </div>
            <div class="card-items">
                <h4>Task Completed</h4>
                <p>300</p>
            </div>
        </div>
        <div style="background: #EA4335;" class="tile">
            <div class="icon">
                <span class="material-symbols-outlined">
                    book_5
                </span>
            </div>
            <div class="card-items">
                <h4>Books Read</h4>
                <p>300</p>
            </div>
        </div>
    </div>
</div>